/* .booking-list{

} */
.heading,
.product {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
}
.heading {
  margin-bottom: 1.2rem;
}
.booking-list span {
  font-weight: 700;
}
.notification {
  text-align: center;
  font-size: 3.2rem;
  margin-top: 2.4rem;
  color: var(--color-primary);
}
