.input {
  display: inline-block;
  padding: 1.6rem;
  background-color: var(--background-input);
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 3px solid transparent;
  color: var(--text-grey);
  transition: all 0.4s;
  font-family: inherit;
}
.input::placeholder {
  font-size: 1.6rem;
}
.input:focus:invalid,
.invalid {
  border-bottom: 3px solid var(--color-tertiary);
}
.input:focus:valid,
.valid {
  border-bottom: 3px solid var(--color-secondary);
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.form-row label {
  font-weight: 700;
  color: var(--text-grey);
}
